@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to the wonderfull world of computing by DevOps , CI using GithubActions and CD using GitOps(ArgCD) at the time presentation with team now</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
