@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
 release/2023.10.100
    <h1 class="display-4"> Welcome to the Web App service from GitHub Actions completely done on Thursday changed only in release phaseafter modifications may run now</h1>


</div>
